
.Dashcontainer{
    width:90vw;
    margin: 3vw auto;
    background-color: #F4EBD0;
    border-radius: 18px;
}
.DashHeader{
    width: 100%;
    display: flex;
    padding: 24px 16px;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #A8D5BA;
    border-radius: 18px 18px 0 0;
}
.Logout{
    background-color: rgb(253, 54, 23);
    border: solid 1px rgb(255, 0, 0);
    margin: 0;
    height: auto;
    padding: 4px 10px;
    box-sizing: border-box;
}