
.Dashcontainer{
    width:90vw;
    margin: 3vw auto;
    background-color: var(--cor-creme);
    border-radius: 18px;
}
.DashHeader{
    width: 100%;
    display: flex;
    padding: 24px 16px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-verde-claro);
    border-radius: 18px 18px 0 0;
}
.Logout{
    background-color: var(--cor-vermelho-principal);
    border: solid 1px var(--cor-vermelho-secundario);

  
}
